<div class="interactive-wrapper">
    <div class="interactive-container offset">
        <div class="row" >
    	    <div class="main-col">
    	            <div class="row figureTitle">Director overlap and board gender composition in ASX300 companies</div>
    	            <div class="row subTitle">Showing which companies in the ASX300 share directors on their boards, and the gender breakdown of the boards as at 30 June 2020</div>	
    	    



                    <div class="notes row" id="controlRow">
                        
                        <div class="col30 controls">    
                            <div class="row ">View by company</div>
                            <div>
                            	<select id="companySelector">
                            	
                            	</select>
                       		</div>
                        </div>


                        <div class="col30 key">
                            <div class="row ">Shared directors</div>
                            <div id="chartKey"></div>    
                        </div>   

                      
	                    <div class="col30">
	                        <div class="row key">Gender composition</div>
	                        <div id="colorKey">
	                        	<div class="keyDiv">
	                        		<div class="keyCircle" style="background-color:#d95f02;"></div>
	                        		<div class="keyText">Female</div>
	                        	</div>

	                        	<div class="keyDiv">
	                        		<div class="keyCircle" style="background-color:#1b9e77;"></div>
	                        		<div class="keyText">Male</div>
	                        	</div>

	                        </div>    
	                    </div>    
                		

<!--                         <img src="<%= path %>/hint-selectors.png" id="hintSelector" class="hints" alt="Change the dog breed or group"/>    
 -->                 </div>
        <!--             <div class="notes">
                        <div class="upDownButton"><b>Group key*</b> <span class="upDown">▼</span></div>
                        <div id="colorKey" class="hide"> </div>
                    </div> -->
                    
            </div>
            
        </div>
    
    
        <div id="graphicContainer">
                <div id="resetButton" class="btn">
                	Reset
                </div>

                
                <!-- <img src="<%= path %>/hint-dogs.png" id="hintDogs" class="hints" alt="Hover or tap a dog to see more information"/> -->    

                <div id="statusMessage" class="btn">Loading...</div>
        </div>

        <div class="row notes">
            
        </div>
    </div>
</div>

</div>